<app-loading *ngIf="loadingArtist"></app-loading>

<div class="row animated fadeIn" *ngIf="!loadingArtist">
  <div class="col-2">
    <img [src]="artista.images | noimage" class="img-thumbnail img-circle" style="border-radius:50%;" />
  </div>

  <div class="col">
    <h3>{{ artista.name }}</h3>
    <p>
      <a [href]="artista.external_urls.spotify" target="_blank">
        <button class="btn btn-outline-primary">
          Ver en la página del artista
        </button>
      </a>
    </p>
  </div>

  <div class="col-4 text-right">
    <button routerLink="/home" class="btn btn-outline-danger">
      Regresar
    </button>
  </div>
</div>

  <div>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="favoritos">
        <th mat-header-cell *matHeaderCellDef>Favoritos</th> 
        <td mat-cell *matCellDef="let track" >
            <mat-button-toggle #btntoggle checked =checkFavourites(track) *ngIf="checked==true;then content else other_content"></mat-button-toggle>    
            <ng-template #other_content><i class="material-icons" (click)="saveTracks(track)">star_border</i></ng-template>
            <ng-template #content><i class="material-icons" (click)="deleteTracks(track)">star</i></ng-template>
           </td>
      </ng-container>
        <ng-container matColumnDef="album.images">
          <th mat-header-cell *matHeaderCellDef>Foto</th>
          <td mat-cell *matCellDef="let track"> <img [src]="track.album.images | noimage" class="img-thumb" height="90px" width="90px"/></td>
        </ng-container>
        <ng-container matColumnDef="album.name">
          <th mat-header-cell *matHeaderCellDef>Album</th>
          <td mat-cell *matCellDef="let track"> {{ track.album.name }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Canción</th>
          <td mat-cell *matCellDef="let track"> {{ track.name }}</td>
        </ng-container>
        <ng-container matColumnDef="duration_ms">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Duración</th>
          <td mat-cell *matCellDef="let track"> {{ track.duration_ms | date :'mm:ss' }}</td>
        </ng-container>
        <ng-container matColumnDef="uri">
          <th mat-header-cell *matHeaderCellDef>Reproductor</th>
          <td mat-cell *matCellDef="let track"> <iframe
            [src]="track.uri | domseguro"
            width="320"
            height="90"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"
          ></iframe></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></tr>
        <tr mat-row *matRowDef="let track; columns:displayedColumns"></tr>
    </table>
  </div>
